#devise-session
  .container
    .sign-up
      .row
        .col-md-3
        .col-md-6
          .form-sign
            %h2.title Sign in
            = form_for(resource, :as => resource_name, :url => session_path(resource_name), format: :json, remote: true) do |f|

              = devise_error_messages!
              .form-group
                = f.label :email
                %br/
                = f.email_field :email, :autofocus => true, placeholder: "Enter email", :type => "email", :class => "form-control"
              .form-group
                = f.label :password
                %br/
                = f.password_field :password, placeholder: "Password", :class => "form-control"
              - if devise_mapping.rememberable?
                .form-group
                  = f.check_box :remember_me
                  = f.label :remember_me

                %button.btn.btn-primary{type: "submit"} Sign in
            %br
            = render "devise/shared/links"
