!!!
%html
  %head
    %title Demo
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags
  %body
    %header#header
      = render 'layouts/navigation'
    %section
      = yield
